<template name="customers">
  <h3>Customers</h3>
    {{#if isCreatingCustomer}}
    <form class="create-customer">
      <label>ShipTo:</label>    
      <input name="shipto" type="text" id="shipto">     
      <label>Name:</label>
      <input name="name" type="text" id="name">
      <button type="submit">Submit</button>
      <a class="cancel" href="#">Cancel</a>
    </form>
  {{else}}
    <a class="create" href="#">Create</a>
  {{/if}}
  <ul>
    {{#each customers}}
      <li>{{shipto}} - {{name}} - <a class="delete" href="#">[x]</a></li>
    {{/each}}
  </ul>
</template>